@* @model Gift_Site.Models.Order  *@

@*  <h2>Your Cart</h2>  *@
@*  <table>  *@
@*      <thead>        <tr>  *@
@*              <th>Product Name</th>  *@
@*              <th>Quantity</th>  *@
@*              <th>Total Price</th>  *@
@*          </tr>  *@
@*      </thead>  *@
@*      <tbody> *@
@*          @if (Model != null)  *@
@*         {  *@
@*             foreach (var item in Cart)  *@
@*            {  *@
@*                  <tr>  *@
@*                      <td>@item.Product.ProductName</td> *@
@*                     <td>@item.Quantity</td>  *@
@*                      <td>@item.TotalPrice</td>  *@
@*                  </tr>  *@
@*              }  *@
@*          }  *@
@*          else  *@
@*          {  *@
@*              <tr> *@
@*                  <td colspan="3">No items in cart.</td>  *@
@*              </tr>  *@
@*    }  *@
@* body>  *@
@*  </table>  *@
@*  <h3>Total: @Model?.TotalRate</h3>  *@
@*  <form asp-action="Checkout" method="post">  *@
@*     <button type="submit">Checkout</button>  *@
@*  </form> *@
